* {
  font-family: "HK Grotesk";
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  font-style: normal;
  text-align: center;
  color: #E9E8E3;
  background-color: rgb(0, 0, 0);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

ul {
  text-align: center;
}

.button {
  height: 120px;
  width: 120px;
  padding: 20px;
  text-align: center;
  aspect-ratio: 1;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.buttonStart {
  border-radius: 50%;
  border: 3.5px solid #636363;
}

.buttonStop {
  border-radius: 50%;
  border-radius: 100rem;
  padding: 1rem;
  box-shadow: black;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgba(85, 92, 211, 1), rgba(54, 183, 232, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px black inset;
}