@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 70px;
  font-family: "Quicksand";
  text-align: center;
  color: white;
  background-color: #333;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}