.modalStyles {
    position: fixed;
    width: 50px;
    padding: 50px;
    border-radius: 100px;
    background-color: black;
    z-index: 1000;
}


.overlayStyles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1000;
}