.modalStyles {
    position: fixed;
    width: 50px;
    padding: 50px;
    border-radius: 300px;
    filter: blur(8px);
    -webkit-filter: blur(8px);  
    z-index: 10;
}


.overlayStyles {
    position: relative;
    backdrop-filter: blur(5px);
    justify-content: center;
    z-index: 10;
    left: 20%;
    bottom: 50%;
    background-color: transparent;
    z-index: 20
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }