.modalStyles {
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: black;
    padding: 50px;
    z-index: 1000;
}

.overlayStyles {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 1000;
}